<nb-layout>

  <nb-layout-header fixed>
  Chat with Mochi
  </nb-layout-header>

  <nb-layout-column>
    <nb-chat size="large" style="height: 100%">
      <ng-template nbChatTitle [context]="{ text: 'some text to pass into template' }" let-data>
        <div class="row">
          <div class="col-auto">
            <img [src]="mochiAvatar" style="width: 60px; border-radius: 50%">
          </div>
          <div class="col-11" style="align-self: center">
            <div>Alessandro Mochi Onori</div>
          </div>

        </div>
      </ng-template>

      <nb-chat-message
        *ngFor="let msg of messages"
        [type]="msg.type"
        [message]="msg.text"
        [reply]="msg.reply"
        [sender]="msg.user.name"
        [date]="msg.date"
        [dateFormat]="'HH:mm'"
        [files]="msg.files"
        [quote]="msg.quote"
        [latitude]="msg.latitude"
        [longitude]="msg.longitude"
        [avatar]="msg.user.avatar"
      >
      </nb-chat-message>
      <nb-chat-form (send)="sendMessage($event)" [messagePlaceholder]="'Scrivi ad Alessandro...'" [dropFiles]="true"> </nb-chat-form>
    </nb-chat>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
